form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h1 {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #22bb33;
}

input:focus {
    outline: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #22bb33;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #007a25;
}

p {
    margin-top: 15px;
}

p a {
    color: #22bb33;
}